@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
/* 共通設定 */
html{
  scroll-behavior: smooth;
}
body {
  color: #082b4a;
  font-family: 'Noto Serif JP', sans-serif;
  line-height: 1.5;
}
img {
  width: 100%;
  height: auto;
}
a {
  color: #082b4a;
  cursor: pointer;
}


img {
  width: 100%;
}
.container {
  width: 90%;
  max-width: 1080px;
  margin: auto;
}
section {
  padding: 80px 0;
}
.section_ttl {
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
}
.sns-img {
  width: 20px;
  height: 20px;
}


/* ヘッダー */
.header{
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color:white;
  border-bottom: 1px solid black;
  &_wrapper{
    display: flex;
    justify-content: space-between;
  }
  h1{
    line-height: 120px;
  }
  &_nav_list{
    line-height: 120px;
    display: flex;
    &_item a{
      margin-left: 50px;
    }
    
  }
  
}

// トップ
.top{
  padding: 0;
}

// サービス
.service{
  &_wrapper{
    display: flex;
    justify-content: space-between;
  }
  &_item{
    width: 45%;
    &_ttl{
      text-align: center;
    }
    &_img{
      width: 130px;
      margin: auto;
    }
    &_text{
      margin-top: 10px;
      line-height: 28px;
    }
  }
}

// ワークス
.works{
  &_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &_item{
    width: 32%;
    border: black 1px solid;
  }
}

.phone{
  display: none;
}


.dropdown{
  display: none;
}


// about
.about{
  &_message{
    text-align: center;
    padding-bottom: 20px;
  }
  &_wrapper{
    width: 100%;
    display: flex;
    justify-content:space-between;
  }
  &_left{
    width: 30%;
    img{
      border: 1px solid black;
      background-color:gainsboro;
  }
  &_right{
    width: 70%;
    }
    th,td{
      width: 100px;
    }
  }
}


// contact
// .contact_form_wrapper{
//   margin: 0 16px;
// }
// .contact_form_wrapper input{
//   margin:10px 0 20px 0;
//   width: 680px;
// }
// .contact_form_wrapper span{
//   font-size: .5px;
//   background-color:black;
//   color:white ;
//   padding: 5px;
//   margin-left: 5px;
// }
// .contact_form_wrapper textarea{
//   width: 680px;
//   height: 180px;
//   margin-bottom: 16px;
// }
// .contact_form_wrapper button{
//   width: 250px;
//   height: 50px;
//   background-color: gray;
//   color: white;
//   display: block;
//   margin-left: 5px;
// }
// #contact input{
//   margin-left: 5px;
// }

// トップ、フッター
.toTop{
  text-align: center;
  &_link{
    width: 30px;
    &_img{
      width: 30px;
    }
  }
}
.copyright {
  text-align: center;
  p {
    font-size: 10px;
  }
}

// スマホレスポンシブ
@media(max-width:760px){
  .d-flex{
    flex-wrap: wrap;
  }
  [class*="item"]{
    width: 100%;
  }
  [class*="navi"]{
    display: none;
  }
  .info_header img{
    display: none;
  }
  .dropdown{
    display: block;
    position: absolute;
    top: 48px;
    right: 10px;
  }
  .pc{
    display: none;
  }
  .phone{
    display: block;
  }
  .service_wrapper{
    flex-wrap: wrap;
  }
  .work_item{
    margin-bottom: 10px;
  }
  .about_area{
    flex-wrap: wrap;
    justify-content:center;
  }
  .about_area img{
    margin-bottom: 12px;
  }
  .contact_form_wrapper input{
    width: 500px;
  }
  .contact_form_wrapper textarea{
    width: 500px
  }
}
