/* *{
    color: rgb(114, 113, 113);
    font-weight: normal;
}

.d-flex{
    display:flex ;
    justify-content: center;
}

header{
    padding-top: 84px;
}


.header-logo{
    width: 275px; 
    height: 35px;
    margin-left: 80px;
    /* margin-right: auto; */

}

/* .sns{
    margin-right: 60px;
    margin-left: auto;
}

 

.sns img{
    width: 25px;
    height: 25px;
    float: right;
    padding-right: 15px;
    
}

li{
    list-style: none;
    
}

a{
    text-decoration: none;
}

.links{
    float: right;
    margin: 64px  60px 38px auto;   
}

.links li{
    font-size: 12px;
    margin: 0 32px;
} 

.pc img{
    width: 100%;
    height: 420px;
    margin-bottom: 32px;
}

main{
    text-align: center;
}

h3{
    font-size: 36px;
    margin:40px 0;
}

h4{
    font-size: 24px;
    margin-bottom: 12px;
}

h5{
    margin-top:0;
    opacity: 0.7;
}

p{
    font-size: 13px;
    line-height: 25px;
    margin: 20px 20px;
}

.servise{
    padding-bottom:40px ;
}

.servise img{
    width: 100px;
    height: 100px;
}


.work-links{
    margin: 0 auto;
}

.work-links img{
    width: 280px;
    height: 260px;
    margin: 0 36px;
}

.spa{
    margin:30px 15px;
}

.blogs{
    padding-bottom: 64px;
}

.blogs img{
    width: 280px;
    height: 260px;
}

.blogs p{
    display: block;
    width: 280px;
}

.more{
    display: inline-block;
    width: 70px;
    height: 30px;
    background-color: rgb(231, 226, 226);
    margin-right: 30px;
    font-size: 15px;
    float: right;
}

.return img{
    width: 20px;
    height: 20px;
    display: inline-block;
    
}

footer .links{
    float: left;
}

main img{
    width: 280px;
    height: 260px;
    margin: 0 36px;
}

main p{
    width: 280px;
}  */