@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

*{
    text-decoration:none;
    color: inherit;
    list-style: none;
    font-weight: normal;
    font-size:small;
    font-family: 'Noto Serif JP', sans-serif;
}

html{
  scroll-behavior: smooth;
}

a {
  color: #1f1f1f;
}


.container {
  max-width: 1200px;
}

header {
  margin-top: 80px;
}


.info_header {
  position: absolute;
  top: 160px;
  right: 12%;
}

.info_header img {
  margin-left: 10px;
}

.d-flex {
  display: flex;
}

.service_area{
  display: flex;
  justify-content: center;
}

.sns-img {
  width: 20px;
  height: 20px;
}

.navi_header{
  margin: 50px 0px;
  justify-content:flex-end; 
}



[class*="navi"] li {
  margin-right: 50px;
}

.phone{
  display: none;
}


section {
  margin-top: 80px;
}

.cent {
  text-align: center;
  width: 33%;
}

h2 {
  text-align: center;
  /* letter-spacing: 5px; */
  /* font-weight: lighter; */
  margin: 50px 0;
}

h4 {
  opacity: 0.7;
  /* font-size: medium; */
}

.imag_s1 {
  width: 98px;
}

.imag_s2{
  width: 100%;
}

[class*="item"]{
  padding: 30px;
  width: 33%;
}

.item_skill img{
  margin-bottom: 15px;
}

.navi_footer {
  -webkit-box-flex: left;
      -ms-flex: left;
          flex: left;
}

.top{
  text-align: center;
  margin: 100px 0;
  cursor: pointer;
}

.copy {
  text-align: end;
  padding: 30px;
}

.copy p {
  font-size: 10px;
}

.dropdown{
  display: none;
}

/* .pc{
  margin-top: 10px;
} */
.about_area{
  display: flex;
  justify-content: center;
}

.about_icon{
  border: 1px solid black;
  background-color:gainsboro;
}

.prof-table{
  margin-left: 20px;
  align-self: center;
}

.about_text{
  text-align: center;
}

@media(max-width:760px){
  .d-flex{
    flex-wrap: wrap;
  }
  [class*="item"]{
    width: 100%;
  }
  .copy {
    text-align: center;
  }
  [class*="navi"]{
    display: none;
  }
  .info_header img{
    display: none;
  }
  .dropdown{
    display: block;
    position: absolute;
    top: 110px;
    right: 8%;
  }
  .pc{
    display: none;
  }
  .phone{
    display: block;
  }
  .service_area{
    flex-wrap: wrap;
  }

  .about_area{
    flex-wrap: wrap;
  }
  .about_area img{
    margin-bottom: 20px;
  }
}


.form{
  margin-bottom: 30px;
}

.form label{
  display: block;

}

.form span{
  font-size: 5px;
  background-color: red;
  color:white ;
}

.form input{
  width: 350px;
}

.form TEXTAREA{
  width: 400px;
  height: 180px;
}

#send{
  width: 250px;
  height: 50px;
  background-color: gray;
  color: white;
}

#contact{
  text-align: center;
}

#contact input{
  margin-left: 5px;
}