* {
  color: #1f1f1f;
  
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1160px;
  padding: 0 40px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 150px;
  padding-top: 100px;
}

.info_header {
  position: absolute;
  top: 112px;
  right: 100px;
}

.info_header img {
  margin-left: 10px;
}

.d-flex {
  display: flex;
}

.sns-img {
  width: 20px;
  height: 20px;
}

.navi_header{
  margin: 50px 0;
  justify-content:flex-end;
}

[class*="navi"] li {
  margin-right: 50px;
}


section {
  margin-top: 80px;
}

.cent {
  text-align: center;
  width: 33%;
}

h2 {
  text-align: center;
  letter-spacing: 5px;
  font-weight: lighter;
  margin: 30px 0;
}

h4 {
  opacity: 0.7;
  font-size: medium;
}

.imag_s1 {
  width: 98px;
}

.imag_s2{
  width: 100%;
}

[class*="item"]{
  padding: 30px;
  width: 33%;
}
.navi_footer {
  -webkit-box-flex: left;
      -ms-flex: left;
          flex: left;
}

.top{
  text-align: center;
  margin: 100px 0;
  cursor: pointer;
}

.copy {
  text-align: end;
  padding: 30px;
}

.copy p {
  font-size: 10px;
}

@media(max-width:760px){
  .d-flex{
    flex-wrap: wrap;
  }
  [class*="item"]{
    width: 100%;
  }
  .copy {
    text-align: center;
  }
  [class*="navi"]{
    display: none;
  }
  .info_header{
    display: none;
  }
  
}