@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

*{
    text-decoration:none;
    color: inherit;
    list-style: none;
    font-weight: normal;
    font-size:16px;
    font-family: 'Noto Serif JP', sans-serif;
}
html{
  scroll-behavior: smooth;
}
a {
  color: #1f1f1f;
  cursor: pointer;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
header{
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color:white;
  border-bottom: 1px solid black;
}
.header_wrapper{
  display: flex;
  justify-content: space-between;
}
.info_header {
  position: absolute;
  top: 74px;
  right: 12%;
}
.info_header img {
  margin-left: 10px;
}
.d-flex {
  display: flex;
}
.service_area{
  display: flex;
  justify-content: space-between;
}
.service_item{
  flex: auto;
}
.service_item p{
  line-height: 26px;
}
.sns-img {
  width: 20px;
  height: 20px;
}
.navi_header{
  margin: 60px 0px;
}
.navi_header li {
  margin-left: 50px;
}
.phone{
  display: none;
}
section {
  margin-top: 80px;
}
.cent {
  text-align: center;
  width: 33%;
}
h2 {
  text-align: center;
  /* letter-spacing: 5px; */
  /* font-weight: lighter; */
  margin: 50px 0;
}
h4 {
  opacity: 0.7;
  /* font-size: medium; */
}
.imag_s1 {
  width: 98px;
}
.work_item{
  width: 100%;
}
[class*="item"]{
  margin: 0 16px;
}
.works_area{
  justify-content: space-between;
}
.toTop{
  text-align: center;
  margin: 50px 0;
  cursor: pointer;
}
.copy {
  text-align: center;
}
.copy p {
  font-size: 10px;
  margin-bottom: 20px;
}
.dropdown{
  display: none;
}
.about_area{
  display: flex;
  justify-content:space-between;
}
.about_icon{
  border: 1px solid black;
  background-color:gainsboro;
  margin-left: 16px;
}
.prof-table{
  margin-left: 20px;
  align-self: center;
  width: 70%;
}
.prof-table th{
  padding: 8px;
}
.about_text{
  text-align: center;
}
@media(max-width:760px){
  .d-flex{
    flex-wrap: wrap;
  }
  [class*="item"]{
    width: 100%;
  }
  [class*="navi"]{
    display: none;
  }
  .info_header img{
    display: none;
  }
  .dropdown{
    display: block;
    position: absolute;
    top: 48px;
    right: 10px;
  }
  .pc{
    display: none;
  }
  .phone{
    display: block;
  }
  .service_area{
    flex-wrap: wrap;
  }
  .work_item{
    margin-bottom: 10px;
  }
  .about_area{
    flex-wrap: wrap;
    justify-content:center;
  }
  .about_area img{
    margin-bottom: 12px;
  }
}
.contact_form_wrapper{
  margin: 0 16px;
}
.contact_form_wrapper input{
  margin:10px 0 20px 0;
  width: 680px;
}
.contact_form_wrapper span{
  font-size: .5px;
  background-color:black;
  color:white ;
  padding: 5px;
  margin-left: 5px;
}
.contact_form_wrapper textarea{
  width: 680px;
  height: 180px;
  margin-bottom: 16px;
}
.contact_form_wrapper button{
  width: 250px;
  height: 50px;
  background-color: gray;
  color: white;
  display: block;
  margin-left: 5px;
}
#contact input{
  margin-left: 5px;
}